{% extends "core/base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-5" style="color: var(--accent);">Todos los Personajes</h1>
    <div class="controls-container">
    <input type="text" id="searchInput" placeholder="Buscar personaje..." class="search-bar">
    
    <div class="element-filters">
        <button class="filter-btn active" data-element="all">Todos</button>
        <button class="filter-btn" data-element="pyro">Pyro</button>
        <button class="filter-btn" data-element="hydro">Hydro</button>
        <button class="filter-btn" data-element="anemo">Anemo</button>
        <button class="filter-btn" data-element="electro">Electro</button>
        <button class="filter-btn" data-element="dendro">Dendro</button>
        <button class="filter-btn" data-element="cryo">Cryo</button>
        <button class="filter-btn" data-element="geo">Geo</button>
    </div>
</div>

<div class="grid">
    {% for p in personajes %}
        <div class="character-card" data-name="{{ p.nombre|lower }}" data-element="{{ p.elemento|lower }}">
            <div class="card-img">
                {% if p.diseno_imagen %}
                    <img src="{{ p.diseno_imagen.url }}" alt="{{ p.nombre }}">
                {% endif %}
            </div>
            <div class="card-info">
                <h3>{{ p.nombre }}</h3>
                <p class="element-text {{ p.elemento|lower }}">{{ p.elemento }}</p>
                <a href="{% url 'detalle_personaje' p.id %}" class="btn-detail">Ver Detalles</a>
            </div>
        </div>
    {% empty %}
        <p>Aún no hay personajes añadidos.</p>
    {% endfor %}
</div>
</div>
{% endblock %}